subworkflows/Tool - Listar Interesados.json
{
  "name": "Tool - Listar Interesados",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst busqueda = ($('Ejecutar Workflow').first().json.busqueda ?? '').trim();\n\n// Detect empty result\nconst rows = (items.length === 1 && !items[0].json.property_id) ? [] : items;\n\nif (rows.length === 0) {\n  return [{ json: { resultado: `🔍 No se encontraron inmuebles ni clientes interesados en \"${busqueda}\".` } }];\n}\n\n// Group by property_id\nconst propMap = {};\nrows.forEach(it => {\n  const r = it.json;\n  const pid = r.property_id;\n  if (!propMap[pid]) {\n    propMap[pid] = {\n      code: r.property_code,\n      address: r.property_address,\n      status: r.property_status,\n      type: r.property_type,\n      zone: r.zone,\n      land_area: r.land_area,\n      construction_area: r.construction_area,\n      price: r.price,\n      confirmed: {},   // client_id → {name, phone, email, registrations[], notes[]}\n      potential: {}    // client_id → {name, phone, email, interest_description}\n    };\n  }\n  const r2 = it.json;\n  const cid = r2.client_id;\n  if (r2.match_type === 'confirmado') {\n    if (!propMap[pid].confirmed[cid]) {\n      propMap[pid].confirmed[cid] = { name: r2.client_name, phone: r2.phone, email: r2.email, registrations: [], notes: [] };\n    }\n    propMap[pid].confirmed[cid].registrations.push({ level: r2.interest_level, date: r2.interest_date });\n    if (r2.notes) propMap[pid].confirmed[cid].notes.push(r2.notes);\n  } else {\n    propMap[pid].potential[cid] = {\n      name: r2.client_name,\n      phone: r2.phone,\n      email: r2.email,\n      interest_description: r2.interest_description\n    };\n  }\n});\n\nconst levelRank = { 'Muy Alto': 4, 'Alto': 3, 'Medio': 2, 'Bajo': 1 };\nconst levelEmoji = { 'Muy Alto': '🔥', 'Alto': '⬆️', 'Medio': '➡️', 'Bajo': '⬇️' };\nconst props = Object.values(propMap);\n\n// Multi-property disambiguation\nif (props.length > 1) {\n  const lista = props.map((p, i) => {\n    const nc = Object.keys(p.confirmed).length;\n    const np = Object.keys(p.potential).length;\n    return `${i + 1}. *${p.code}* - ${p.address} (${nc} confirmado(s), ${np} potencial(es))`;\n  }).join('\\n');\n  return [{ json: { resultado: `🏠 Encontré ${props.length} inmuebles en \"${busqueda}\":\\n\\n${lista}\\n\\n👉 Indícame el código exacto para ver el detalle de sus interesados.` } }];\n}\n\n// Single property\nconst prop = props[0];\nconst confirmedList = Object.values(prop.confirmed);\nconst potentialList = Object.values(prop.potential);\n\nconst priceStr = prop.price > 0 ? `$${Number(prop.price).toLocaleString('es-EC')}` : 'Precio no definido';\nconst areaStr = prop.land_area > 0 ? `${prop.land_area}m² terreno` : '';\nconst constStr = prop.construction_area > 0 ? `${prop.construction_area}m² construcción` : '';\n\nconst lines = [\n  `👥 *Interesados — Inmueble ${prop.code}*`,\n  `📍 ${prop.address} | ${prop.type} | ${prop.zone} | ${prop.status}`,\n  areaStr || constStr ? `📐 ${[areaStr, constStr].filter(Boolean).join(' | ')}` : null,\n  `💰 ${priceStr}`,\n  ''\n].filter(l => l !== null);\n\n// ── Section 1: Confirmed ──────────────────────────────────────────────────────\nif (confirmedList.length > 0) {\n  // Sort by highest interest level\n  confirmedList.sort((a, b) => {\n    const maxA = Math.max(...a.registrations.map(r => levelRank[r.level] || 0));\n    const maxB = Math.max(...b.registrations.map(r => levelRank[r.level] || 0));\n    return maxB - maxA || b.registrations.length - a.registrations.length;\n  });\n\n  lines.push(`✅ *Interesados confirmados (${confirmedList.length}):*`);\n  confirmedList.forEach((c, i) => {\n    const maxLevel = c.registrations.reduce((best, r) =>\n      (levelRank[r.level] || 0) > (levelRank[best] || 0) ? r.level : best, 'Bajo');\n    const emoji = levelEmoji[maxLevel] || '•';\n    const count = c.registrations.length;\n    const countLabel = count > 1 ? ` _(registrado ${count}x — interés elevado)_` : '';\n    lines.push(`${i + 1}. ${emoji} *${c.name}*${countLabel}`);\n    lines.push(`   📞 ${c.phone}${c.email ? ' | ✉️ ' + c.email : ''}`);\n    lines.push(`   Nivel: ${maxLevel}`);\n    const uniqueNotes = [...new Set(c.notes.filter(Boolean))];\n    if (uniqueNotes.length) lines.push(`   💬 ${uniqueNotes.join(' | ')}`);\n    lines.push('');\n  });\n} else {\n  lines.push(`✅ *Interesados confirmados:* Ninguno registrado aún.`);\n  lines.push('');\n}\n\n// ── Section 2: Potential ──────────────────────────────────────────────────────\nif (potentialList.length > 0) {\n  lines.push(`🔍 *Clientes potencialmente interesados (${potentialList.length}):*`);\n  lines.push(`_(Basado en su descripción de búsqueda — no vinculados aún)_`);\n  lines.push('');\n  potentialList.forEach((c, i) => {\n    lines.push(`${i + 1}. 💡 *${c.name}*`);\n    lines.push(`   📞 ${c.phone}${c.email ? ' | ✉️ ' + c.email : ''}`);\n    lines.push(`   🔎 Busca: _\"${c.interest_description}\"_`);\n    lines.push('');\n  });\n  lines.push(`💡 ¿Deseas vincular alguno de estos clientes como interesado en este inmueble?`);\n} else {\n  lines.push(`🔍 *Clientes potenciales:* No se encontraron clientes con búsquedas compatibles.`);\n}\n\nreturn [{ json: { resultado: lines.join('\\n') } }];"
      },
      "id": "b0ade847-1630-4e67-85a5-d044a3cfd675",
      "name": "Formatear Interesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        2096
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "busqueda"
            }
          ]
        }
      },
      "id": "ecba5f70-28ae-4e2b-82e2-c202a9b0f999",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1472,
        2096
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH matched_props AS (\n  SELECT\n    id, code, address, property_type, zone,\n    land_area::numeric   AS land_area,\n    construction_area::numeric AS construction_area,\n    price::numeric       AS price,\n    status\n  FROM properties\n  WHERE is_active = true\n    AND (code ILIKE $1 OR address ILIKE ('%' || $1 || '%'))\n)\n-- ▸ Confirmed (already linked in property_interests)\nSELECT\n  'confirmado'                       AS match_type,\n  c.id                               AS client_id,\n  c.first_name || ' ' || c.last_name AS client_name,\n  c.phone, c.email,\n  c.interest_description,\n  pi.interest_level,\n  pi.interest_date::text             AS interest_date,\n  pi.notes,\n  p.id                               AS property_id,\n  p.code                             AS property_code,\n  p.address                          AS property_address,\n  p.status                           AS property_status,\n  p.property_type, p.zone,\n  p.land_area, p.construction_area, p.price\nFROM property_interests pi\nJOIN clients c ON c.id = pi.client_id\nJOIN matched_props p ON p.id = pi.property_id\n\nUNION ALL\n\n-- ▸ Potential (clients whose interest_description mentions property type or zone)\nSELECT\n  'potencial'                        AS match_type,\n  c.id                               AS client_id,\n  c.first_name || ' ' || c.last_name AS client_name,\n  c.phone, c.email,\n  c.interest_description,\n  NULL                               AS interest_level,\n  NULL                               AS interest_date,\n  NULL                               AS notes,\n  p.id                               AS property_id,\n  p.code                             AS property_code,\n  p.address                          AS property_address,\n  p.status                           AS property_status,\n  p.property_type, p.zone,\n  p.land_area, p.construction_area, p.price\nFROM clients c\nCROSS JOIN matched_props p\nWHERE\n  c.interest_description IS NOT NULL\n  AND c.interest_description <> ''\n  AND NOT EXISTS (\n    SELECT 1 FROM property_interests pi2\n    WHERE pi2.client_id = c.id AND pi2.property_id = p.id\n  )\n  AND (\n    LOWER(c.interest_description) LIKE '%' || LOWER(p.property_type) || '%'\n    OR LOWER(c.interest_description) LIKE '%' || LOWER(p.zone) || '%'\n    OR LOWER(c.interest_description) LIKE '%' || LOWER(p.address) || '%'\n  )\nORDER BY property_id, match_type\nLIMIT 80;",
        "options": {
          "queryReplacement": "={{ ($('Ejecutar Workflow').item.json.busqueda ?? '').trim() }}"
        }
      },
      "id": "c5505838-9d76-432c-bbff-6f42913d73ef",
      "name": "Consultar Interesados BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1712,
        2096
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Consultar Interesados BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Interesados BD": {
      "main": [
        [
          {
            "node": "Formatear Interesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22a305ed-c614-450a-a78b-12d6bdf94c9f",
  "meta": {
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "HkcloGQudyS1huJBwfysO",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:37:32.830Z",
      "createdAt": "2026-03-01T19:37:32.830Z",
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    },
    {
      "updatedAt": "2026-03-11T00:22:54.729Z",
      "createdAt": "2026-03-11T00:22:54.729Z",
      "id": "rWw1J3dBOKSk924S",
      "name": "Bryan Ulloa"
    }
  ]
}