subworkflows/Tool - Vincular Interesado.json
{
  "name": "Tool - Vincular Interesado",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre_cliente"
            },
            {
              "name": "telefono_cliente"
            },
            {
              "name": "codigo_inmueble"
            },
            {
              "name": "direccion_inmueble"
            }
          ]
        }
      },
      "id": "76209e94-b1e1-4e30-b0d1-8988bb8a9004",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1056,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, first_name, last_name, phone, ruc FROM clients WHERE (first_name || ' ' || last_name) ILIKE $1 OR phone = $2 LIMIT 10;",
        "options": {
          "queryReplacement": "={{ [ '%' + ($('Ejecutar Workflow').item.json.nombre_cliente || '$$$') + '%', $('Ejecutar Workflow').item.json.telefono_cliente || '$$$' ] }}"
        }
      },
      "id": "d603d8da-8980-4e60-9573-1eecfc676c97",
      "name": "Buscar Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1248,
        1728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, code, address, status, property_type FROM properties WHERE code ILIKE $1 OR address ILIKE $2 OR $3 ILIKE '%' || address || '%' LIMIT 10;",
        "options": {
          "queryReplacement": "={{ [ $('Ejecutar Workflow').item.json.codigo_inmueble || '$$$', '%' + ($('Ejecutar Workflow').item.json.direccion_inmueble || '$$$') + '%', $('Ejecutar Workflow').item.json.direccion_inmueble || '$$$' ] }}"
        }
      },
      "id": "4cd36557-b09e-441b-9f7f-0e0bce7dfbbd",
      "name": "Buscar Inmueble",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1456,
        1728
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const wf = $('Ejecutar Workflow').first().json;\n\nconst clientesItems = $('Buscar Cliente').all().map(i => i.json);\nconst clientes = (clientesItems.length === 1 && Object.keys(clientesItems[0]).length === 0) ? [] : clientesItems;\n\nconst propItems = $input.all().map(i => i.json);\nconst propiedades = (propItems.length === 1 && Object.keys(propItems[0]).length === 0) ? [] : propItems;\n\nlet accion = 'insertar';\nlet resultado = '';\nlet resultClientes = '';\nlet resultPropiedades = '';\nlet client_id = null;\nlet property_id = null;\n\nif (clientes.length === 0) {\n  accion = 'error';\n  resultClientes = `❌ No se encontró ningún cliente en la base de datos con ese nombre o teléfono. Debes registrarlo primero.`;\n} else if (clientes.length > 1) {\n  accion = 'error';\n  resultClientes = `⚠️ Clientes encontrados:\\n`;\n  clientes.forEach(c => {\n    resultClientes += `- ${c.first_name} ${c.last_name} (Tel: ${c.phone}, RUC: ${c.ruc || 'N/A'})\\n`;\n  });\n  resultClientes += `\\n👉 Pide al asesor que te confirme el teléfono de uno de ellos.`;\n} else {\n  client_id = clientes[0].id;\n  resultClientes = `✅ Cliente único identificado (${clientes[0].first_name} ${clientes[0].last_name}).`;\n}\n\nif (propiedades.length === 0) {\n  accion = 'error';\n  resultPropiedades = `❌ No se encontró ningún inmueble en la base de datos con esa dirección o código.`;\n} else if (propiedades.length > 1) {\n  accion = 'error';\n  resultPropiedades = `⚠️ Propiedades encontradas:\\n`;\n  propiedades.forEach(p => {\n    resultPropiedades += `- Código: ${p.code} | Dir: ${p.address} | Tipo: ${p.property_type}\\n`;\n  });\n  resultPropiedades += `\\n👉 Pide al asesor que confirme el código de la propiedad de interés.`;\n} else {\n  property_id = propiedades[0].id;\n  resultPropiedades = `✅ Propiedad única identificada (${propiedades[0].code}).`;\n}\n\nif (accion === 'error') {\n  resultado = `Debes comunicarle al asesor estas opciones:\\n\\nBÚSQUEDA DE CLIENTE:\\n${resultClientes}\\n\\nBÚSQUEDA DE PROPIEDAD:\\n${resultPropiedades}`;\n}\n\nreturn [{ json: { accion, resultado, client_id, property_id, nivel_interes: wf.nivel_interes || 'Medio', notas: wf.notas || '' } }];\n"
      },
      "id": "db6dc0c6-c7c2-4130-a6bc-bb29cc40d245",
      "name": "Evaluar Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.accion }}",
              "rightValue": "insertar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4c4e902d-f059-444b-a39e-6f863c96b65e",
      "name": "¿Es Inserción Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1856,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO property_interests (id, \"property_id\", \"client_id\", \"interest_date\", \"interest_level\", notes, \"created_at\", \"updated_at\") VALUES (gen_random_uuid(), $1, $2, (NOW() AT TIME ZONE 'America/Guayaquil')::date, $3::\"InterestLevel\", $4, NOW() AT TIME ZONE 'America/Guayaquil', NOW() AT TIME ZONE 'America/Guayaquil') ON CONFLICT DO NOTHING RETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $json.property_id, $json.client_id, $json.nivel_interes, $json.notas ] }}"
        }
      },
      "id": "ecaed108-70a5-44bc-ba03-c0a70106076b",
      "name": "Insertar Interés",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2048,
        1616
      ],
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "resultado",
              "value": "=✅ Interés vinculado exitosamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7a64789d-6994-4675-81f6-81221e04adb9",
      "name": "Resultado Exitoso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        1616
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a6a2e52e-d806-480b-a5b7-887e04caeea9",
      "name": "Devolver Ambigüedad o Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        1824
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "Buscar Inmueble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Inmueble": {
      "main": [
        [
          {
            "node": "Evaluar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Resultados": {
      "main": [
        [
          {
            "node": "¿Es Inserción Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Inserción Valida?": {
      "main": [
        [
          {
            "node": "Insertar Interés",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Devolver Ambigüedad o Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Interés": {
      "main": [
        [
          {
            "node": "Resultado Exitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "290bb5b4-898c-4f17-9ce6-98546463c232",
  "meta": {
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "FGModCYKpx08r32pUsaNZ",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:37:32.830Z",
      "createdAt": "2026-03-01T19:37:32.830Z",
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    },
    {
      "updatedAt": "2026-03-11T00:22:54.729Z",
      "createdAt": "2026-03-11T00:22:54.729Z",
      "id": "rWw1J3dBOKSk924S",
      "name": "Bryan Ulloa"
    }
  ]
}