subworkflows/Tool - Registrar Cliente.json
{
  "name": "Tool - Registrar Cliente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "nombres" },
            { "name": "apellidos" },
            { "name": "phone" },
            { "name": "email" },
            { "name": "address" },
            { "name": "ruc" },
            { "name": "user_id" },
            { "name": "notes" },
            { "name": "interest_description" }
          ]
        }
      },
      "id": "2e5fc8bb-23b8-44aa-88ff-08d11fbad59a",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [ 1120, 352 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, first_name, last_name, phone, email FROM clients WHERE phone = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [ $('Ejecutar Workflow').item.json.phone ] }}"
        }
      },
      "id": "6cad7e8c-a8b2-42b2-8a3c-86ca5dbf9566",
      "name": "Buscar Cliente Existente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 1320, 352 ],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "v1dzgvZcEPtlXg6K", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9fd13d10-d4fd-4d11-aa69-0b95968d5097",
      "name": "¿Ya Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ 1520, 352 ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "resultado",
              "value": "=ℹ️ El cliente {{ $json.first_name }} {{ $json.last_name }} ya existe en la base de datos con el teléfono {{ $json.phone }}.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "27504f41-d98a-4b67-96d3-7d8e31e2287c",
      "name": "Cliente Ya Existe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 1720, 240 ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clients (id, first_name, last_name, phone, email, address, ruc, notes, interest_description, user_id, created_at, updated_at) VALUES (gen_random_uuid(), $1, $2, $3, $4, $5, $6, $7, $8, NULLIF($9, '')::uuid, NOW() AT TIME ZONE 'America/Guayaquil', NOW() AT TIME ZONE 'America/Guayaquil') RETURNING id, first_name, last_name, phone;",
        "options": {
          "queryReplacement": "={{ [ $('Ejecutar Workflow').item.json.nombres, $('Ejecutar Workflow').item.json.apellidos, $('Ejecutar Workflow').item.json.phone, $('Ejecutar Workflow').item.json.email, $('Ejecutar Workflow').item.json.address, $('Ejecutar Workflow').item.json.ruc, $('Ejecutar Workflow').item.json.notes, $('Ejecutar Workflow').item.json.interest_description, $('Ejecutar Workflow').item.json.user_id ] }}"
        }
      },
      "id": "4d82155e-4b65-41b1-a013-518dfd7b8326",
      "name": "Insertar Cliente en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [ 1720, 448 ],
      "credentials": { "postgres": { "id": "v1dzgvZcEPtlXg6K", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "familyName": "={{ $('Ejecutar Workflow').item.json.apellidos }}",
        "givenName": "={{ $('Ejecutar Workflow').item.json.nombres }}",
        "additionalFields": {
          "emailsUi": {
            "emailsValues": "={{ $('Ejecutar Workflow').item.json.email ? [{ value: $('Ejecutar Workflow').item.json.email, type: 'work' }] : [] }}"
          },
          "phoneNumbersUi": {
            "phoneNumbersValues": "={{ $('Ejecutar Workflow').item.json.phone ? [{ value: $('Ejecutar Workflow').item.json.phone, type: 'mobile' }] : [] }}"
          }
        }
      },
      "id": "699d3f24-384c-4ef0-b6c7-b0cce4088e9b",
      "name": "Crear en Google Contacts",
      "type": "n8n-nodes-base.googleContacts",
      "typeVersion": 1,
      "position": [ 1920, 448 ],
      "credentials": { "googleContactsOAuth2Api": { "id": "MNIWuppegHOQwd7a", "name": "Google Contacts account" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r2",
              "name": "resultado",
              "value": "=✅ Cliente registrado exitosamente:\n👤 Nombre: {{ $('Insertar Cliente en BD').item.json.first_name }} {{ $('Insertar Cliente en BD').item.json.last_name }}\n📞 Teléfono: {{ $('Insertar Cliente en BD').item.json.phone }}\n📇 Google Contacts: {{ $('Crear en Google Contacts').item.json.error ? 'Fallo (Error de Credenciales de Google API)' : 'Sincronizado exitosamente' }}\n📝 Notas y requerimientos registrados.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3f284bf-cc58-415c-9b3b-177708175dc5",
      "name": "Resultado Exitoso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ 2120, 448 ]
    }
  ],
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [ { "node": "Buscar Cliente Existente", "type": "main", "index": 0 } ]
      ]
    },
    "Buscar Cliente Existente": {
      "main": [
        [ { "node": "¿Ya Existe?", "type": "main", "index": 0 } ]
      ]
    },
    "¿Ya Existe?": {
      "main": [
        [ { "node": "Cliente Ya Existe", "type": "main", "index": 0 } ],
        [ { "node": "Insertar Cliente en BD", "type": "main", "index": 0 } ]
      ]
    },
    "Insertar Cliente en BD": {
      "main": [
        [ { "node": "Crear en Google Contacts", "type": "main", "index": 0 } ]
      ]
    },
    "Crear en Google Contacts": {
      "main": [
        [ { "node": "Resultado Exitoso", "type": "main", "index": 0 } ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "815a073d-02f1-4881-8664-5e2fb36910fa",
  "id": "1BS6ieKjiIBWiVcVvTlvW",
  "tags": [
    {
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    }
  ]
}