subworkflows/Tool - Consultar Proceso.json
{
  "name": "Tool - Consultar Proceso",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  pr.id,\n  pr.title,\n  pr.type,\n  pr.description,\n  pr.next_step,\n  pr.approximate_time,\n  pr.expenses,\n  pr.created_at,\n  pr.updated_at,\n  p.code AS property_code,\n  p.address AS property_address,\n  p.status AS property_status\nFROM processes pr\nJOIN properties p ON p.id = pr.property_id\nWHERE p.code = $1\n  AND p.is_active = true\nORDER BY pr.updated_at DESC;",
        "options": {}
      },
      "id": "9a3302a6-5a7e-4f00-9ea7-20ba63540b09",
      "name": "Consultar Procesos BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4240,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "faf850a7-1649-4ee7-9836-41804a8cb3e3",
      "name": "¿Hay Procesos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4000,
        -304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r_empty",
              "name": "resultado",
              "value": "=ℹ️ El inmueble con código '{{ $('Ejecutar Workflow').item.json.codigo_inmueble }}' no tiene procesos registrados actualmente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f1e65d05-8ba4-4742-9016-d969385356a4",
      "name": "Sin Procesos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3792,
        -192
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "63d8c043-9ea0-499b-b1b2-61fbd0fa7714",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4544,
        -1840
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst propertyCode = items[0].json.property_code;\nconst propertyAddress = items[0].json.property_address;\nconst propertyStatus = items[0].json.property_status;\n\nlet lines = [`📋 *Procesos - Inmueble ${propertyCode}*`, `📍 ${propertyAddress}`, `📊 Estado: ${propertyStatus}`, ''];\n\nitems.forEach((item, i) => {\n  const p = item.json;\n  const updatedDate = new Date(p.updated_at).toLocaleDateString('es-EC', { day: '2-digit', month: '2-digit', year: 'numeric' });\n  lines.push(`*${i + 1}. ${p.title}* (${p.type})`);\n  lines.push(`   📝 ${p.description}`);\n  if (p.next_step) lines.push(`   ➡️ Siguiente: ${p.next_step}`);\n  if (p.approximate_time) lines.push(`   ⏱️ Tiempo: ${p.approximate_time}`);\n  lines.push(`   🗓️ Actualizado: ${updatedDate}`);\n  lines.push(`   🆔 ID: ${p.id}`);\n  lines.push('');\n});\n\nreturn [{ json: { resultado: lines.join('\\n') } }];"
      },
      "id": "3258eb4a-29bf-4d3e-9c3f-483811e63d63",
      "name": "Formatear Procesos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        -416
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Consultar Procesos BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Procesos BD": {
      "main": [
        [
          {
            "node": "¿Hay Procesos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Procesos?": {
      "main": [
        [
          {
            "node": "Formatear Procesos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Procesos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d97ea0ba-55b5-4caf-8992-bc9009778355",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "WF_TOOL_CONSULTAR_PROCESO_001",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:37:32.830Z",
      "createdAt": "2026-03-01T19:37:32.830Z",
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    },
    {
      "updatedAt": "2026-03-11T00:22:54.729Z",
      "createdAt": "2026-03-11T00:22:54.729Z",
      "id": "rWw1J3dBOKSk924S",
      "name": "Bryan Ulloa"
    }
  ]
}