subworkflows/Tool - Consultar Calendario.json
{
  "name": "Tool - Consultar Calendario",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fecha_texto",
              "type": "any"
            },
            {
              "name": "tipo_evento",
              "type": "any"
            },
            {
              "name": "telefono_asesor",
              "type": "any"
            },
            {
              "name": "fecha_referencia",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1920,
        5856
      ],
      "id": "cc001001-aaaa-bbbb-cccc-000000000001",
      "name": "Ejecutar Workflow"
    },
    {
      "parameters": {
        "jsCode": "const wf = $input.first().json;\n\n// Calcular fecha objetivo desde fecha_referencia (nunca del LLM)\nconst texto = String(wf.fecha_texto || 'hoy').toLowerCase().trim();\nconst ref = DateTime.fromISO(wf.fecha_referencia || DateTime.now().toISO()).setZone('America/Guayaquil');\n\nlet target;\nif (texto === 'ayer') {\n  target = ref.minus({ days: 1 }).startOf('day');\n} else if (texto === 'hoy') {\n  target = ref.startOf('day');\n} else if (texto === 'mañana') {\n  target = ref.plus({ days: 1 }).startOf('day');\n} else if (texto === 'pasado mañana') {\n  target = ref.plus({ days: 2 }).startOf('day');\n} else {\n  // Intentar parsear como ISO o fecha parcial\n  const parsed = DateTime.fromISO(texto).setZone('America/Guayaquil');\n  if (parsed.isValid) {\n    // Si el año es más de 2 años antes del actual, asumir que el LLM alucinó y usar mañana\n    if (ref.year - parsed.year >= 2) {\n      target = ref.plus({ days: 1 }).startOf('day');\n    } else {\n      target = parsed.startOf('day');\n    }\n  } else {\n    // Fallback: hoy\n    target = ref.startOf('day');\n  }\n}\n\nconst diaInicio = target.toISO();\nconst diaFin = target.endOf('day').toISO();\nconst tipoFiltro = String(wf.tipo_evento || 'todos').toLowerCase();\nconst asesorPhone = String(wf.telefono_asesor || '').trim();\n\nreturn [{ json: { dia_inicio: diaInicio, dia_fin: diaFin, tipo_filtro: tipoFiltro, asesor_phone: asesorPhone } }];\n"
      },
      "id": "cc001002-aaaa-bbbb-cccc-000000000002",
      "name": "Calcular Fecha Objetivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        5856
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "options": {
          "timeMin": "={{ $json.dia_inicio }}",
          "timeMax": "={{ $json.dia_fin }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "cc001003-aaaa-bbbb-cccc-000000000003",
      "name": "Obtener Eventos del Día",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2400,
        5856
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6lAsoTQnqERlsZNq",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst calc = $('Calcular Fecha Objetivo').first().json;\n\nconst diaInicio = new Date(calc.dia_inicio);\nconst diaFin    = new Date(calc.dia_fin);\nconst tipoFiltro   = String(calc.tipo_filtro || 'todos').toLowerCase();\nconst asesorPhone  = (calc.asesor_phone || '').trim();\n\nconst eventos = [];\n\nfor (const item of items) {\n  const ev  = item.json;\n  const summary = (ev.summary || '').toLowerCase();\n  const desc    = ev.description || '';\n\n  // Skip internal block events\n  if (summary.startsWith('[bloqueo]') || desc.includes('[BLOQUEO_CITAS]')) continue;\n\n  const startRaw = ev.start?.dateTime || ev.start?.date;\n  if (!startRaw) continue;\n\n  const startDate = new Date(startRaw);\n  if (startDate < diaInicio || startDate > diaFin) continue;\n\n  // Filter by asesor phone ([tel_asesor:...] tag)\n  if (asesorPhone) {\n    const m = desc.match(/\\[tel_asesor:([^\\]]+)\\]/);\n    const phone = m ? m[1].trim() : null;\n    if (phone && phone !== asesorPhone) continue;\n  }\n\n  // Extract event type\n  let tipo = 'Evento';\n  const mTipo = desc.match(/\\[tipo:([^\\]]+)\\]/i);\n  if (mTipo) tipo = mTipo[1].trim();\n  const tipoLower = tipo.toLowerCase();\n  if (tipoFiltro !== 'todos' && tipoLower !== tipoFiltro) continue;\n\n  const horaFormato = ev.start?.dateTime\n    ? new Date(ev.start.dateTime).toLocaleTimeString('es-EC', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Guayaquil' })\n    : 'Todo el día';\n\n  const fechaFormato = new Date(startRaw).toLocaleDateString('es-EC', {\n    weekday: 'long', day: '2-digit', month: 'long', year: 'numeric', timeZone: 'America/Guayaquil'\n  });\n\n  eventos.push({\n    hora: horaFormato,\n    fecha: fechaFormato,\n    tipo,\n    titulo: ev.summary || 'Sin título',\n    event_id: ev.id || ''  // ← include Google Calendar event ID\n  });\n}\n\nif (eventos.length === 0) {\n  const etiqueta  = tipoFiltro === 'todos' ? 'eventos' : `eventos de tipo \"${tipoFiltro}\"`;\n  const fechaTexto = diaInicio.toLocaleDateString('es-EC', {\n    weekday: 'long', day: '2-digit', month: 'long', year: 'numeric', timeZone: 'America/Guayaquil'\n  });\n  return [{ json: { resultado: `Para el ${fechaTexto} no tienes ${etiqueta} registrados en tu calendario.` } }];\n}\n\neventos.sort((a, b) => a.hora.localeCompare(b.hora));\n\nconst etiqueta   = tipoFiltro === 'todos' ? 'eventos' : `eventos de tipo \"${tipoFiltro}\"`;\nconst fechaTexto = diaInicio.toLocaleDateString('es-EC', {\n  weekday: 'long', day: '2-digit', month: 'long', year: 'numeric', timeZone: 'America/Guayaquil'\n});\n\nlet texto = `Estos son tus ${etiqueta} para el ${fechaTexto}:\\n\\n`;\nfor (const ev of eventos) {\n  // Include event_id as hidden tag for the agent — NOT shown to user in the final response\n  texto += `- ${ev.hora} - ${ev.tipo}: ${ev.titulo} [event_id:${ev.event_id}]\\n`;\n}\n\nreturn [{ json: { resultado: texto.trim() } }];"
      },
      "id": "cc001004-aaaa-bbbb-cccc-000000000004",
      "name": "Formatear Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        5856
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Calcular Fecha Objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Fecha Objetivo": {
      "main": [
        [
          {
            "node": "Obtener Eventos del Día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Eventos del Día": {
      "main": [
        [
          {
            "node": "Formatear Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "TOOL_CONSULTAR_CALENDARIO_001",
  "tags": [
    {
      "id": "Bryan_Real_Estate",
      "name": "Bryan Real Estate"
    }
  ]
}