subworkflows/Tool - Consultar Proceso.json
{
  "name": "Tool - Consultar Proceso",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  pr.id AS proceso_id,\n  pr.title,\n  pr.type,\n  pr.description,\n  pr.next_step,\n  pr.approximate_time,\n  pr.expenses,\n  pr.created_at,\n  pr.updated_at,\n  p.id   AS property_id,\n  p.code AS property_code,\n  p.address AS property_address,\n  p.status AS property_status\nFROM properties p\nJOIN processes pr ON pr.property_id = p.id\nWHERE p.is_active = true\n  AND (\n    p.code ILIKE $1\n    OR p.address ILIKE ('%' || $1 || '%')\n  )\nORDER BY p.code, pr.created_at DESC;",
        "options": {
          "queryReplacement": "={{ ($('Ejecutar Workflow').item.json.busqueda ?? '').trim() }}"
        }
      },
      "id": "048f89f9-58dc-422c-9786-a5ca3e21dc8b",
      "name": "Consultar Procesos BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        3408
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "busqueda"
            },
            {
              "name": "solo_ultimo"
            }
          ]
        }
      },
      "id": "4115da2d-0d7f-4ecc-b311-eec76a3d5889",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1040,
        3408
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst wf = $('Ejecutar Workflow').first().json;\nconst busqueda = (wf.busqueda ?? '').trim();\nconst soloUltimo = String(wf.solo_ultimo ?? '').toLowerCase() === 'true';\n\n// Detect empty result (postgres node with alwaysOutputData outputs 1 empty item when 0 rows)\nconst rows = (items.length === 1 && !items[0].json.proceso_id) ? [] : items;\n\nif (rows.length === 0) {\n  return [{ json: { resultado: `🔍 No se encontraron procesos para el inmueble \"${busqueda}\". Verifica el código o la dirección.` } }];\n}\n\n// Group rows by property_id\nconst propMap = {};\nrows.forEach(it => {\n  const r = it.json;\n  const pid = r.property_id;\n  if (!propMap[pid]) {\n    propMap[pid] = {\n      code: r.property_code,\n      address: r.property_address,\n      status: r.property_status,\n      processes: []\n    };\n  }\n  propMap[pid].processes.push(r);\n});\n\nconst props = Object.values(propMap);\n\n// Multiple properties → ask for clarification\nif (props.length > 1) {\n  const lista = props.map((p, i) =>\n    `${i + 1}. *${p.code}* - ${p.address} (${p.processes.length} proceso(s))`\n  ).join('\\n');\n  return [{\n    json: {\n      resultado: `🏠 Encontré ${props.length} inmuebles en \"${busqueda}\" con procesos:\\n\\n${lista}\\n\\n👉 Indícame el código exacto para ver el detalle de sus procesos (ej: 002).`\n    }\n  }];\n}\n\n// Single property → show timeline\nconst prop = props[0];\nconst procesos = soloUltimo ? [prop.processes[0]] : prop.processes;\n\nconst lines = [\n  `📋 *Historial de Procesos — Inmueble ${prop.code}*`,\n  `📍 ${prop.address} | Estado: ${prop.status}`,\n  `📦 Total registrado: ${prop.processes.length} proceso(s)${soloUltimo ? ' (mostrando el más reciente)' : ''}`,\n  ''\n];\n\nprocesos.forEach((p, i) => {\n  const fecha = new Date(p.created_at).toLocaleDateString('es-EC', {\n    day: '2-digit', month: 'long', year: 'numeric'\n  });\n  lines.push(`${soloUltimo ? '🕐' : ('*' + (i + 1) + '.*')} *${p.title}*`);\n  lines.push(`   👤 Parte: ${p.type}`);\n  lines.push(`   📝 ${p.description}`);\n  if (p.next_step) lines.push(`   ➡️ Siguiente paso: ${p.next_step}`);\n  if (p.approximate_time) lines.push(`   ⏱️ Duración estimada: ${p.approximate_time}`);\n  if (p.expenses && Array.isArray(p.expenses) && p.expenses.length > 0) {\n    const totalGastos = p.expenses.reduce((acc, e) => acc + Number(e.amount || 0), 0);\n    const detalleGastos = p.expenses.map(e => `$${e.amount} - ${e.description}`).join(', ');\n    lines.push(`   💰 Gastos: ${detalleGastos} (Total: $${totalGastos})`);\n  }\n  lines.push(`   📅 ${fecha}`);\n  lines.push('');\n});\n\nreturn [{ json: { resultado: lines.join('\\n') } }];"
      },
      "id": "76d9d8f7-5de1-4880-bfa2-a0dc3a22c85c",
      "name": "Formatear Procesos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        3296
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Consultar Procesos BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Procesos BD": {
      "main": [
        [
          {
            "node": "Formatear Procesos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1f7fd1dd-b987-4a30-a89c-54512de5724b",
  "meta": {
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "RDV9l__Yq1ySMVuo_0zNF",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:37:32.830Z",
      "createdAt": "2026-03-01T19:37:32.830Z",
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    },
    {
      "updatedAt": "2026-03-11T00:22:54.729Z",
      "createdAt": "2026-03-11T00:22:54.729Z",
      "id": "rWw1J3dBOKSk924S",
      "name": "Bryan Ulloa"
    }
  ]
}