subworkflows/Tool - Actualizar Proceso.json
{
  "name": "Tool - Actualizar Proceso",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "inmueble"
            },
            {
              "name": "proceso_id"
            },
            {
              "name": "title"
            },
            {
              "name": "type"
            },
            {
              "name": "description"
            },
            {
              "name": "approximate_time"
            },
            {
              "name": "next_step"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2200,
        -1152
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, code, address, status, property_type FROM properties WHERE code ILIKE $1 OR address ILIKE $2 OR $3 ILIKE '%' || address || '%' LIMIT 10;",
        "options": {
          "queryReplacement": "={{ [\n  $('Ejecutar Workflow').item.json.inmueble,\n  '%' + $('Ejecutar Workflow').item.json.inmueble + '%',\n  $('Ejecutar Workflow').item.json.inmueble\n] }}"
        }
      },
      "id": "buscar-inmueble",
      "name": "Buscar Inmueble",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1960,
        -1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const wf = $(\"Ejecutar Workflow\").first().json;\nconst propItems = $input.all().map(i => i.json);\nconst propiedades = (propItems.length === 1 && Object.keys(propItems[0]).length === 0) ? [] : propItems;\n\nlet accion = 'accion_valida';\nlet resultado = '';\nlet property_id = null;\n\nif (propiedades.length === 0) {\n  accion = 'error';\n  resultado = `\\n❌ No se encontró ningún inmueble en la base de datos con la dirección o código proporcionado: ${wf.inmueble}.`;\n} else if (propiedades.length > 1) {\n  accion = 'error';\n  resultado = `\\n⚠️ Propiedades encontradas:\\n`;\n  propiedades.forEach(p => {\n    resultado += `- Código: ${p.code} | Dir: ${p.address} | Tipo: ${p.property_type}\\n`;\n  });\n  resultado += `\\n👉 Pide al asesor que confirme el código de la propiedad a la cual desea agregar o actualizar el proceso.`;\n} else {\n  property_id = propiedades[0].id;\n}\n\nreturn [{ json: { accion, resultado, property_id, wf_data: wf } }];"
      },
      "id": "evaluar-inmueble",
      "name": "Evaluar Inmueble",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1720,
        -1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.accion }}",
              "rightValue": "accion_valida",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cond-valida",
      "name": "¿Es Valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1500,
        -1152
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-opciones",
      "name": "Retornar Opciones",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1250,
        -1350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.wf_data.proceso_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cond-act",
      "name": "¿Actualizar Existente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1250,
        -1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processes SET description = $1, next_step = COALESCE(NULLIF($2, ''), next_step), approximate_time = COALESCE(NULLIF($3, ''), approximate_time), updated_at = NOW() AT TIME ZONE 'America/Guayaquil' WHERE id = $4::uuid RETURNING id, title, type, description, next_step, approximate_time;",
        "options": {
          "queryReplacement": "={{ [\n  $json.wf_data.description,\n  $json.wf_data.next_step,\n  $json.wf_data.approximate_time,\n  $json.wf_data.proceso_id\n] }}"
        }
      },
      "id": "act-proc",
      "name": "Actualizar Proceso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1000,
        -1150
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processes (id, property_id, title, type, description, expenses, approximate_time, next_step, created_at, updated_at) VALUES (gen_random_uuid(), $1::uuid, $2, $3, $4, '[]', $5, $6, NOW() AT TIME ZONE 'America/Guayaquil', NOW() AT TIME ZONE 'America/Guayaquil') RETURNING id, title, type, description, next_step;",
        "options": {
          "queryReplacement": "={{ [\n  $json.property_id,\n  $json.wf_data.title,\n  $json.wf_data.type,\n  $json.wf_data.description,\n  $json.wf_data.approximate_time,\n  $json.wf_data.next_step\n] }}"
        }
      },
      "id": "crear-proc",
      "name": "Crear Nuevo Proceso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1000,
        -850
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "resultado",
              "value": "=✅ Proceso actualizado: '{{ $json.title }}'\n📋 Tipo: {{ $json.type }}\n📝 Estado: {{ $json.description }}\n➡️ Siguiente paso: {{ $json.next_step ?? 'No definido' }}\n⏱️ Tiempo est.: {{ $json.approximate_time ?? 'No definido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "res-act",
      "name": "Resultado Actualizado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -750,
        -1150
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r2",
              "name": "resultado",
              "value": "=✅ Proceso creado: '{{ $json.title }}'\n📋 Tipo: {{ $json.type }}\n📝 Descripción: {{ $json.description }}\n➡️ Siguiente paso: {{ $json.next_step ?? 'No definido' }}\n🆔 ID: {{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "res-cre",
      "name": "Resultado Creado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -750,
        -850
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Buscar Inmueble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Inmueble": {
      "main": [
        [
          {
            "node": "Evaluar Inmueble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Inmueble": {
      "main": [
        [
          {
            "node": "¿Es Valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Valido?": {
      "main": [
        [
          {
            "node": "¿Actualizar Existente?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retornar Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Actualizar Existente?": {
      "main": [
        [
          {
            "node": "Actualizar Proceso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Nuevo Proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Proceso": {
      "main": [
        [
          {
            "node": "Resultado Actualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Nuevo Proceso": {
      "main": [
        [
          {
            "node": "Resultado Creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ffd2e670-1b5d-40ac-a1cb-1c976caf0a88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "WF_TOOL_ACTUALIZAR_PROCESO_001",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:37:32.830Z",
      "createdAt": "2026-03-01T19:37:32.830Z",
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    },
    {
      "updatedAt": "2026-03-11T00:22:54.729Z",
      "createdAt": "2026-03-11T00:22:54.729Z",
      "id": "rWw1J3dBOKSk924S",
      "name": "Bryan Ulloa"
    }
  ]
}