subworkflows/Tool - Ejecutar SQL.json
{
  "name": "Tool - Ejecutar SQL",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Validar SQL Solo Lectura').first().json.consulta_sql }}",
        "options": {}
      },
      "id": "49b2bc22-82e2-406f-b21c-4559bd193065",
      "name": "Ejecutar SQL Inline",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2864,
        1632
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\n// Redact sensitive fields (passwords, tokens, UUIDs/IDs)\nconst SENSITIVE_EXACT = ['id', 'user_id', 'client_id', 'property_id', 'advisor_id', 'interest_id', 'proceso_id'];\nconst SENSITIVE_CONTAINS = ['password', 'token', 'apikey', 'api_key', 'secret', 'hash'];\n\nconst redact = (obj) => {\n  const out = { ...obj };\n  Object.keys(out).forEach(k => {\n    const kl = k.toLowerCase();\n    const isExact = SENSITIVE_EXACT.includes(kl);\n    const contains = SENSITIVE_CONTAINS.some(s => kl.includes(s));\n    // Any field ending in _id or named exactly 'id'\n    const isId = kl === 'id' || kl.endsWith('_id');\n    if (isExact || contains || isId) {\n      out[k] = '*** [oculto] ***';\n    }\n  });\n  return out;\n};\n\nif (rows.length === 0 || (rows.length === 1 && Object.keys(rows[0]).length === 0)) {\n  return [{ json: { resultado: 'ℹ️ La consulta no devolvió resultados.' } }];\n}\n\nconst clean = rows.map(redact);\nconst preview = clean.slice(0, 15);\nconst truncated = rows.length > 15 ? `\\n_(mostrando 15 de ${rows.length} filas)_` : '';\n\nreturn [{ json: { resultado: `✅ Consulta ejecutada. Filas encontradas: ${rows.length}${truncated}\\n\\`\\`\\`json\\n${JSON.stringify(preview, null, 2)}\\n\\`\\`\\`` } }];"
      },
      "id": "3b4c34e8-1fe1-4977-8ab1-8cad64eceb96",
      "name": "Resultado SQL Inline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        1632
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sql-r1",
              "name": "resultado",
              "value": "=⛔ Consulta SQL rechazada. Solo se permiten sentencias SELECT de solo lectura.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3068c8ab-93a2-47b6-951f-c3d8c7255df0",
      "name": "SQL Rechazada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        1824
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = ($('Ejecutar Workflow').first().json.consulta_sql ?? '').trim();\nconst normalized = q.toLowerCase();\nconst forbidden = ['insert','update','delete','drop','alter','truncate','grant','revoke','create'];\nconst hasForbidden = forbidden.some(w => new RegExp('\\\\b'+w+'\\\\b','i').test(normalized));\nconst isSelect = /^\\s*select\\b/i.test(normalized);\nreturn [{ json: { consulta_sql: q, sql_valida: Boolean(q) && isSelect && !hasForbidden } }];"
      },
      "id": "f94307ff-d299-456c-a3df-56549cfcbb4b",
      "name": "Validar SQL Solo Lectura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        1728
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "consulta_sql"
            }
          ]
        }
      },
      "id": "923de7ab-ec05-464a-85d9-d20700618591",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2192,
        1728
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "sql-if-1",
              "leftValue": "={{ $json.sql_valida }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "5bff4ca6-886c-4287-ab82-199f6b1c57ef",
      "name": "¿SQL Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        1728
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Validar SQL Solo Lectura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar SQL Solo Lectura": {
      "main": [
        [
          {
            "node": "¿SQL Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿SQL Válida?": {
      "main": [
        [
          {
            "node": "Ejecutar SQL Inline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL Rechazada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar SQL Inline": {
      "main": [
        [
          {
            "node": "Resultado SQL Inline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e1b9bbad-75d9-4dc1-824a-4bb4c397f8c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "2BrVtXy40fYDf7in1HSEJ",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:37:32.830Z",
      "createdAt": "2026-03-01T19:37:32.830Z",
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    },
    {
      "updatedAt": "2026-03-11T00:22:54.729Z",
      "createdAt": "2026-03-11T00:22:54.729Z",
      "id": "rWw1J3dBOKSk924S",
      "name": "Bryan Ulloa"
    }
  ]
}