subworkflows/Tool - Consultar Inmueble.json
{
  "name": "Tool - Consultar Inmueble",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst wf = $('Ejecutar Workflow').first().json;\nconst busqueda = (wf.busqueda ?? '').trim();\nconst filtroStatus = (wf.filtro_status ?? '').trim();\nconst filtroTipo = (wf.filtro_tipo ?? '').trim();\n\n// Detect empty rows (postgres node outputs 1 empty item when 0 results)\nconst props = (items.length === 1 && Object.keys(items[0].json).length === 0) ? [] : items;\n\nif (props.length === 0) {\n  const contexto = busqueda ? `para \"${busqueda}\"` : (filtroStatus || filtroTipo ? 'con los filtros indicados' : 'en la base de datos');\n  return [{ json: { id: null, resultado: `🔍 No se encontró ningún inmueble activo ${contexto}.` } }];\n}\n\nif (props.length === 1) {\n  // Single result: return full detail\n  return [{ json: { ...props[0].json, resultado: null } }];\n}\n\n// Multiple results: build list\nconst lista = props.map((it, i) => {\n  const p = it.json;\n  const precio = p.price ? ' ($' + Number(p.price).toLocaleString('es-EC') + ')' : '';\n  return `${i + 1}. *${p.code}* - ${p.property_type} en ${p.address}${precio} | Estado: ${p.status}`;\n}).join('\\n');\n\nconst titulo = busqueda\n  ? `🏠 Encontré ${props.length} inmuebles para \"${busqueda}\":`\n  : `🏠 Lista de inmuebles (${props.length} en total):`;\n\nreturn [{\n  json: {\n    id: null,\n    resultado: `${titulo}\\n\\n${lista}\\n\\n👉 Indícame el código exacto para ver todos los detalles (ej: 001, 002).`\n  }\n}];"
      },
      "id": "c70ad18a-2f6b-4118-b4df-a5bc1ee95ce9",
      "name": "Evaluar Resultados Consulta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        4608
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "busqueda"
            },
            {
              "name": "filtro_status"
            },
            {
              "name": "filtro_tipo"
            }
          ]
        }
      },
      "id": "b6149ae8-1b1e-4aaf-9a9b-c14d7ea3eb75",
      "name": "Ejecutar Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        4608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "resultado",
              "value": "=🏠 *{{ $json.code }}* - {{ $json.property_type }}\n📍 {{ $json.address }}{{ $json.location_url ? '\\n🗺️ Ubicación: ' + $json.location_url : '' }}\n📊 Estado: {{ $json.status }}\n\n💰 *Precios:*\n- Precio: ${{ Number($json.price).toLocaleString('es-EC') }}\n- Mín: ${{ Number($json.min_price).toLocaleString('es-EC') }}{{ $json.max_price ? '\\n- Máx: $' + Number($json.max_price).toLocaleString('es-EC') : '' }}{{ $json.sale_price ? '\\n- Venta: $' + Number($json.sale_price).toLocaleString('es-EC') : '' }}\n- Comisión: {{ $json.commission }}%\n\n📐 *Áreas:*\n- Construcción: {{ $json.construction_area }} m²\n- Terreno: {{ $json.land_area }} m²\n\n🧭 Zona: {{ $json.zone }} | Topografía: {{ $json.topography }}{{ $json.features ? '\\n✨ Características: ' + $json.features : '' }}\n👤 Propietario: {{ $json.owner ?? 'No registrado' }}\n🏢 Asesor: {{ $json.advisor_name }}\n\n👥 Interesados: {{ $json.total_interesados }}\n📋 Procesos: {{ $json.total_procesos }}{{ $json.observations ? '\\n\\n📝 ' + $json.observations : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9c77821b-7946-4d1d-9f4e-c92bbffe23f6",
      "name": "Formatear Resultado1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        4496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r2",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "702a8ecb-8840-47c6-b1d0-9a88c7bee44b",
      "name": "No Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        4720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  p.id,\n  p.code,\n  p.address,\n  p.property_type,\n  p.status,\n  p.price,\n  p.min_price,\n  p.max_price,\n  p.sale_price,\n  p.commission,\n  p.construction_area,\n  p.land_area,\n  p.has_basic_services,\n  p.features,\n  p.topography,\n  p.zone,\n  p.construction_years,\n  p.owner,\n  p.observations,\n  p.location_url,\n  p.is_public,\n  p.is_featured,\n  p.created_at,\n  u.first_name || ' ' || u.last_name AS advisor_name,\n  (SELECT COUNT(*) FROM property_interests pi WHERE pi.property_id = p.id) AS total_interesados,\n  (SELECT COUNT(*) FROM processes pr WHERE pr.property_id = p.id) AS total_procesos\nFROM properties p\nJOIN users u ON u.id = p.advisor_id\nWHERE p.is_active = true\n  AND (\n    $1 = ''\n    OR p.code ILIKE $1\n    OR p.address ILIKE ('%' || $1 || '%')\n  )\n  AND ($2 = '' OR p.status::text ILIKE $2)\n  AND ($3 = '' OR p.property_type::text ILIKE $3)\nORDER BY p.created_at DESC\nLIMIT 20;",
        "options": {
          "queryReplacement": "={{ [\n  ($('Ejecutar Workflow').item.json.busqueda ?? '').trim(),\n  ($('Ejecutar Workflow').item.json.filtro_status ?? '').trim(),\n  ($('Ejecutar Workflow').item.json.filtro_tipo ?? '').trim()\n] }}"
        }
      },
      "id": "0f24449f-eec5-4a9d-af73-63ce427f5562",
      "name": "Consultar Inmueble BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        4608
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "v1dzgvZcEPtlXg6K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6baac6f-cf5b-4c6c-a05e-17dd72487cd7",
      "name": "¿Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1232,
        4608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar Workflow": {
      "main": [
        [
          {
            "node": "Consultar Inmueble BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Resultados Consulta": {
      "main": [
        [
          {
            "node": "¿Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Inmueble BD": {
      "main": [
        [
          {
            "node": "Evaluar Resultados Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Encontrado?": {
      "main": [
        [
          {
            "node": "Formatear Resultado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3172924-cecd-436e-9853-3f6a31dc33f6",
  "meta": {
    "instanceId": "f5b03b15138dc35178a357541b8b254ab51ce8bbeabf497031c72421b8fcb7ee"
  },
  "id": "09EB34_9M6d7iHNfEbNj7",
  "tags": [
    {
      "updatedAt": "2026-03-01T19:37:32.830Z",
      "createdAt": "2026-03-01T19:37:32.830Z",
      "id": "5014ny6hlFfltdsq",
      "name": "Bryan Real Estate"
    },
    {
      "updatedAt": "2026-03-11T00:22:54.729Z",
      "createdAt": "2026-03-11T00:22:54.729Z",
      "id": "rWw1J3dBOKSk924S",
      "name": "Bryan Ulloa"
    }
  ]
}